.idea
.env
.vscode
/vendor/
/node_modules/
.phpunit.result.cache
/storage/*.key
/storage/app/public
/storage/debugbar
/storage/framework/cache/data
/storage/framework/sessions
/storage/framework/testing
/storage/framework/views
/storage/logs
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.vscode/
/.idea/
.DS_Store
.idea/
*.log